In [1]:
import pandas as pd
pd.set_option('mode.chained_assignment', None)
data = pd.read_csv('data/world-happiness-report-china.csv')
# data

In [2]:
data.duplicated() # 检查哪些行有重复值

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14    False
15    False
16    False
dtype: bool

In [3]:
data = data.drop_duplicates() # 对数据集中重复的行进行去重操作

In [4]:
data.isnull() # 检查是否有缺失值

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,False,False,False,False,False,False,True,True,True,False,False
1,False,False,False,False,False,False,True,False,True,False,False
2,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,True,False,False
6,False,False,False,False,False,False,False,False,True,False,False
7,False,False,False,False,False,False,False,False,True,False,False
8,False,False,False,False,False,False,False,False,True,False,False
9,False,False,False,False,False,False,True,False,True,False,False
10,False,False,False,False,False,False,True,False,True,False,False
12,False,False,False,False,False,False,True,False,True,False,False
13,False,False,False,False,False,False,False,False,True,False,False
14,False,False,False,False,False,False,False,False,True,False,False
15,False,False,False,False,False,False,False,False,True,False,False
16,False,False,False,False,False,False,False,False,True,False,False

In [5]:
# data.isnull().any() # 按照列的方向，观察是否有缺失值

In [6]:
data = data.fillna(0) # 使用0来替代缺失值

In [7]:
col = data["Life Ladder"] # 将Life Ladder列中所有大于5的值都替换成5
data["Life Ladder"]
col[col>5.0]=5.0
col.describe()

count    15.000000
mean      4.891733
std       0.184930
min       4.454000
25%       4.854500
50%       5.000000
75%       5.000000
max       5.000000
Name: Life Ladder, dtype: float64

In [8]:
data.to_csv("output/world-happiness-report-china-save.csv") # 保存数据